$grey: #cccccc;
html{
    height: all;
    background: radial-gradient(at top, #FEFFFF, #A7CECC);
    /*background: linear-gradient(to top left, powderblue, pink);*/
    font-size: 18px; 
}
body {
    min-height: 100vh;
    display: flex;
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
    background: initial;
    display: -webkit-flex; 
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}


#inputForm{
    max-width: 350px;
    min-width: 250px;
    /* max-width: 200px; */
    ul {
        width: 350px;
        li{
            max-width: 200px;
            padding: 3px;
            display: grid;
        }
        input {
            position: relative;
            margin-right: 0;
            font-size: 17px; 
            max-width: 50px;
            border-radius: 4px;
            border: 1px solid $grey; 
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -khtml-border-radius: 3px; 
            background: #ffffff !important; 
            outline: none;
            color: black; 
            padding: 1.5px;
        }
    }
}
#click{
    margin: 0 auto;
    display: block;
}

#output{
    display: block;
    width: 350px;
    right: 5px; 
    top: 0; 
    #outField {
        ul{
            margin-bottom: 5px;
            border: 2px solid red;
            max-width: 300px;
            text-align: center;
            
        }
    }
}