@charset "UTF-8";
html {
  font-family: 'Montserrat', sans-serif;
  height: all;
  background: #F7F7F7;
  /*background: linear-gradient(to top left, powderblue, pink);*/
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #212121;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  background: initial;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-pos {
  height: 20px;
  position: fixed;
  right: 0;
}

#main {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#main #inputForm {
  max-width: 550px;
  min-width: 250px;
}

#main #inputForm .button {
  margin-top: 32px;
  margin-left: 2px;
  background: #006fb7;
  color: #ffffff;
  border: none;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* убирать выделение текста */
  padding: 0 40px;
  height: 40px;
  outline: none;
  /* убирать контур в Mozilla */
}

#main #inputForm .button:hover {
  background: #42637d;
  cursor: pointer;
}

#main #inputForm p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}

#main #inputForm ul .pipe {
  margin-right: 50px;
  text-align: left;
  min-width: 265px;
}

#main #inputForm ul span.pipeLength {
  min-width: 85px;
  margin-right: 0;
  text-align: right;
}

#main #inputForm ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 550px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #inputForm ul input {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 17px;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background: #FFFFFF !important;
  outline: none;
  color: #212121;
  padding: 1.5px;
}

#main #output {
  display: block;
  width: 350px;
  right: 5px;
  top: 0;
}

#main #output #info {
  margin-top: 50px;
}

#main #output #info li {
  padding: 15px;
  margin: 10px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border-radius: 3px;
}

#main #output #info .messageOutPipes {
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 350px;
  border-radius: 3px;
}

#main #output #info .messageOutPipes p {
  margin-top: 15px;
  padding-left: 15px;
}

#main #output #outField ul {
  margin: 10px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border-radius: 3px;
  max-width: 350px;
  text-align: center;
  padding: 3px;
}

#main #output #outField ul li {
  display: inherit;
  position: relative;
}
/*# sourceMappingURL=style.css.map */